/* header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  } */
  /* header h1 {
    margin-bottom: 0.5rem;
  }
  header h2 {
    margin-bottom: 1rem;
  } */

  /* .rotate {
    transform: rotate(45deg);
    transform-origin: center;
}

.rotate > * {
    transform: rotate(-45deg);
    transform-origin: center;
} */

h1, h2, h3, h4, h5, header, nav, p, label {
  font-family: Algerian;
}

/* h1  {
  font-size: 5rem;
  color: white;
} */
header {
  background: linear-gradient(to bottom, #2C0227, #FFB2B2);
}